<?xml version="1.0" encoding="UTF-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.xxd.qr"
          android:versionCode="5"
          android:versionName="13.01"
          android:installLocation="auto">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8"/>

    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
  <uses-feature android:name="android.hardware.camera" android:required="false"/>
  <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
  <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
  <uses-feature android:name="android.hardware.screen.landscape"/>
  <uses-feature android:name="android.hardware.wifi" android:required="false"/>
  <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- Baidu -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 错误日志统计 -->
    <!-- ZM -->
    <!-- <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <!-- youmi -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->

  <application android:icon="@drawable/icon"
               android:label="@string/app_name"
               android:theme="@style/QTheme"
               >

     <!-- baidu -->
     <meta-data android:name="BaiduMobAd_CHANNEL" android:value="eoemarket" />
     <meta-data android:name="BaiduMobAd_STAT_ID" android:value="49cc811488" />
     <meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" /><!-- 错误日志统计 -->
      
      <!-- ZM -->
      <!-- <meta-data android:name="ZHUAMOB_APPKEY" android:value="74c8c821ad1bd5eaf9a07a98" />
      <meta-data android:name="ZHUAMOB_CHANNELID" android:value="none" /> -->
     <!-- 声明Youmi的Activity -->
     <!-- <activity
         android:name="net.youmi.android.AdActivity"
         android:configChanges="keyboard|keyboardHidden|orientation" />
     <receiver android:name="net.youmi.android.YoumiReceiver">
         <intent-filter>
             <action android:name="android.intent.action.PACKAGE_ADDED"/>
             <action android:name="android.intent.action.PACKAGE_INSTALL"/>
             <data android:scheme="package"/>
         </intent-filter>
     </receiver> -->
        
      <activity android:name=".MainA" android:theme="@android:style/Theme.Translucent">
          <intent-filter>
	        <action android:name="android.intent.action.MAIN"/>
	        <category android:name="android.intent.category.LAUNCHER"/>
	      </intent-filter>
      </activity>
      
      <activity android:name=".HomeA" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
      <activity android:name=".ScanA" android:screenOrientation="portrait"  />
      <activity android:name=".QrCodeA" android:screenOrientation="portrait"  />
      <activity android:name=".NewA" android:screenOrientation="portrait"  />
      <activity android:name=".HistoryA" android:screenOrientation="portrait"  />
      <activity android:name=".AboutA" android:screenOrientation="portrait"  />
                  
    <activity android:name=".CaptureA"
              android:screenOrientation="landscape"
              android:clearTaskOnLaunch="true"
              android:stateNotNeeded="true"
              android:configChanges="orientation|keyboardHidden"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:windowSoftInputMode="stateAlwaysHidden" />
    
  </application>

</manifest>
